@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background: #286e9c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
    width: 80%;
    max-width: 450px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    background: rgba(0, 20, 58, 0.808);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    opacity: 0.82;
}

button a {
    color: whitesmoke;
    text-decoration: none;
}

button a:hover {
    text-decoration: underline;
}
